{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "minify"
  ],
  "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }]]
}
